.login {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    background-color: rgb(239, 239, 239);
}
::placeholder{
    color: #6c757d;
}
.username, .password, .loginButton, .name {
    display: block;
    margin-bottom: 15px ;
    padding: 20px;
    width: 360px;
    border: none;
    background-color: #3b4148;
    color: white;
    font-size: x-large;
    border-radius: 0.25rem;
}

.loginButton {
    width: 360px;
    background-color: #ea4c88;
    cursor: pointer;
}
.loginButton:hover {
    background-color: #d44179;
}
.loginButton:active{

}

.username:hover, .password:hover {
    background-color: #434a52;
}

.signup-option {
    text-align: center;
    padding: 20px;
    color: #6c757d;
    font-size: larger;
}

.signup-option a {
    text-decoration: none;
    color: #d44179;
}

h1{
    text-align: center;
    color: #565656;
}
.third-parties{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    padding: 1px;
    background-color: rgb(66, 133, 244);
}

.logo img {
    margin-left: 9px;
    width: 30px;
    height: 30px;
}