body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bg {
  background: url(pictures/bg.jpg);
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 120vh;
  background-attachment: fixed;
  /* clip-path: circle(190vh at 50% -70vh); */
}
