.cardPost{
    width: 50%;
}
.card{
    margin: 20px auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.likeButton{
    display: flex;
    flex-direction: flex-end;
}
.selectFilter{
    display: inline;
    width: 100px;
}
.findRoomate, .swapRoom{
    padding: 30px 50px;
}
.optionsBar{
    margin: auto;
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.optionsBar select {
    padding: 5px;
}
.optionsBar button{
    font-size: x-large;
    padding: 0 17px;
    padding-bottom: 2px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #F5C458;
}

.optionsBar button:hover{
    color: #F5C458;
    background-color: black;
}
.cardFooter{
    margin-left: 40px;
    padding-bottom: 15px;
}
.roboImg{
    width: 40px;
    background-color: #F5C458;
  
    border-radius: 100%;
}

.contact_btn{
    width: 50px;
    margin-right: 2px;
}

.gmail{
    color: black;
}

#gender{
    margin-right: 4px;
}